.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(32, 32, 44) 0%, rgb(40, 46, 60) 70%);
}

.top-row {
    background-color: #f8f9fa;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: #5c5c5c;
        transition: color 0.2s;
    }

    .top-row a:hover, .top-row .btn-link:hover {
        color: #1b6ec2;
    }

.content {
    min-height: calc(100vh - 3.5rem);
    background-color: #f5f5f5;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth :first-child {
        margin-left: 1.5rem;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
